tensorflow==2.8.0
openslide-python==1.1.2
imageio==2.5.0
nvflare==2.0.11
scikit-learn==1.0.2
pandas==1.4.2
opencv-python==4.3.0.38
spams==2.6.3.1
tqdm==4.64.0
# pinning protobuf because https://github.com/protocolbuffers/protobuf/issues/10051
protobuf==3.20.1
